<html>  
<head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="container">
      <h1>Submit data</h1>
      <br>
      <form action="/" method="POST" enctype="multipart/form-data">
	<!--
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
	-->
	<input type='file' accept=".txt" placeholder="Submit Data" name="submitted_data" value="{{ request.form.submitted_data }}">
	<br>
        <input class="btn btn-default" type="submit" value="Submit Data">
      </form>
    </div>
</body>
</html>
